body
{background:  moccasin;
color: black;}
p {font-family: Lugrasimo;
  font-size: 30px;}
h1 {text-align: center;}

body {
    font-family: "Lugrasimo", serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 110vh;
    background-color: #fffaf0;
    background: url('knight-dance.gif') repeat center center fixed;
    background-size: cover;
  }
  