body
{background:  moccasin; 
color: black;}
p {font-family: Lugrasimo;
  font-size: 20px;}
h1 {text-align: center;}
h2 {text-align: center;
  color: crimson;}
p {text-align: center;
color: blue;}
h4 {color: black;}
h2 {font-family: Lugrasimo;
  font-size: 25px;}