body
{background:  moccasin; 
color: firebrick;}
p {font-family: Lugrasimo;
  font-size: 30px;}
h1 {text-align: center;}
h2 {text-align: center;
  color: firebrick;}
p {text-align: center;}
h4 {color: black;}
